@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
  box-sizing: border-box
}

:root {
  --color-1: #186cb8;
  --color-2: #2a9a9f;
  --color-3: #f1b211;
  --color-4: #e83611;
  --color-5: #f9002f;
}


.wrapper1 {
  align-items: center;
  line-height: 1;
  min-height: 100%;
  display: grid;
  place-items: center;
  min-height: calc(100vh - 16px);
}

h1 {
  font-family: "Exo", sans-serif;
  font-size: 15vw;
  font-weight: 900;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
  padding: 0px;
  margin: 10px;
  text-transform: uppercase;
  background: linear-gradient(219deg, 
  #00eefa 20%, var(--color-2)  39%,
    transparent 19%,transparent 20%, 
    #00eefa 20%, var(--color-2)  39%,
    transparent 39%,transparent 40%, 
    #9f7300 40%,var(--color-3) 59% ,
    transparent 59%,transparent 60%, 
    var(--color-4) 60%, #9d1b00 79%,
   
    #9d1b00 80%);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  
}

.container1 {
  padding: 1.5rem;   
  text-align: center;
  background: radial-gradient(circle at 1.4% 1.4% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 5.5% 3%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 2.5% 3.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 4.5% 1.2%,var(--color-4) .25%,transparent .25% ),

    radial-gradient(circle at 98% 98% ,var(--color-1) .8%,transparent  .8% ), 
    radial-gradient(circle at 95% 95%,var(--color-2) .45% ,transparent .45% ), 
    radial-gradient(circle at 94.5% 97.5%,var(--color-3) .5% ,transparent .5% ), 
    radial-gradient(circle at 98.5% 95.5%,var(--color-4) .25%,transparent .25% );


}

@media screen and (min-width: 768px) {
  h1 {
    font-size: 5.5rem;
  }
}

label {
  cursor: default;
  color: #000;
}
.bold-text {
  font-weight: bold;
}
body {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/662025/abstract.jpg');
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-family: 'Lato', sans-serif;
  margin: 0;
  
}

.movie-container {
  margin: 20px 0;
}

.movie-container select {
  background-color: #fff;
  border: 0;
  border-radius: 5px;
  font-size: 14px;
  margin-left: 10px;
  padding: 5px 15px 5px 15px;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
}

.container {
  perspective: 1000px;
  margin-bottom: 30px;
}

.seat {
  background-color: #fff;
  height: 12px;
  width: 15px;
  margin: 3px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  
}

.seat.selected {
  background-color: #db7f44;
}

.seat.occupied {
  background-color: #a59e9e;
}

.seat:nth-of-type(2) {
  margin-right: 18px;
}

.seat:nth-last-of-type(2) {
  margin-left: 18px;
}

.seat:not(.occupied):hover {
  cursor: pointer;
  transform: scale(1.2);
}

.showcase .seat:not(.occupied):hover {
  cursor: default;
  transform: scale(1);
}

.showcase {
  background: rgba(0, 0, 0, 0.1);
  padding: 5px 10px;
  border-radius: 5px;
  color: #777;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
}

.showcase li {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 10px;
}

.showcase li small {
  margin-left: 2px;
}

.row {
  display: flex;
}

.screen {
  background-color: #fff;
  height: 70px;
  width: 100%;
  margin: 15px 0;
  transform: rotateX(-45deg);
  box-shadow: 0 3px 10px rgba(255, 255, 255, 0.7);
}

p.text {
  margin: 5px 0;
  color: black;
  
}

p.text span {
  color: #fc0808;
}
.btn {
  margin: 10px;
  padding: 15px 30px;
  text-align: center;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  color: white;
  border-radius: 10px;
  display: block;
  border: 0px;
  font-weight: 700;
  box-shadow: 0px 0px 14px -7px #f09819;
  background-image: linear-gradient(45deg, #FF512F 0%, #F09819  51%, #FF512F  100%);
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  font-size: 18.5px; 
  max-width: 140px; 
  min-width: 140px; 
  max-height: 40px; 
  min-height: 40px; 
  padding: 10px 20px;
}

.btn:hover {
  background-position: right center;
  /* change the direction of the change here */
  color: #fff;
  text-decoration: none;
}

.btn:active {
  transform: scale(0.95);
}


